# absl-py==0.6.1
# astor==0.7.1
Click==7.1.2            # Released: Apr 27, 2020
# Cython==0.29.14
# gast==0.2.1
# grpcio==1.17.1
# h5py==2.9.0
# Keras-Applications==1.0.6
# Keras-Preprocessing==1.0.5
# Markdown==3.0.1
matplotlib==3.3.2        # Released: Sep 15, 2020 
numpy==1.18.5           # Released: Jun 03, 2020 (<1.19.0,>=1.16.0 as required by tensorflow)
pandas==1.1.2           # Released: Sep 08, 2020
# protobuf==3.6.1
# python-dateutil==2.7.5
# pytz==2018.7
requests==2.24.0        # Released: Jun 17, 2020 
# scikit-learn==0.20.2
# scipy==1.2.0
# six==1.12.0
sklearn==0.0
# tensorboard==1.12.2
tensorflow-gpu==2.5.3   # Released: Sep 24, 2020
# termcolor==1.1.0
# Werkzeug==0.14.1
wget==3.2               # Released: Oct 22, 2015
# word2vec==0.10.2
